/* Home */
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.pagination-container {
  margin-top: 36px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

/* CharacterCard */
.char-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}